@charset "UTF-8";

/* find-a-specialist: */

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../assets/fonts/gilroy/gilroy-regular.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../assets/fonts/gilroy/gilroy-light.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../assets/fonts/gilroy/gilroy-medium.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../assets/fonts/gilroy/gilroy-bold.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Extra-Bold';
  src: url("../assets/fonts/gilroy/gilroy-extra-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../assets/fonts/montserrat/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: url("../assets/fonts/montserrat/montserrat-extra-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Extra-light';
  src: url("../assets/fonts/montserrat/montserrat-extra-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../assets/fonts/montserrat/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../assets/fonts/montserrat/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../assets/fonts/montserrat/montserrat-regular.ttf") format("truetype");
}

.nav {
  max-width: 90%;
  margin: 3% auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
}

.nav .headline {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 130px minmax(652px, 875px);
}

.nav .headline .logo {
  max-width: 130px;
}

.nav .headline .page-title {
  justify-self: end;
  font-size: 6rem;
  max-width: 875px;
  width: 875px;
}

.nav .offers {
  font-size: 3rem !important;
  color: #FFF;
  opacity: 0.4;
  display: grid;
  grid-template-areas: 'case . offer';
  grid-template-columns: 217px 60px 630px;
  position: relative;
  top: -55px;
  margin: 0;
}

.nav .case {
  font-size: 3rem !important;
  grid-area: case;
}

.nav .offer {
  font-size: 3rem !important;
  grid-area: offer;
}

.what-was-done {
  display: grid !important;
  align-items: center !important;
  justify-content: space-between !important;
  grid-template-columns: 343px 830px !important;
  grid-template-rows: 230px !important;
  max-width: 90% !important;
  margin: 0 auto !important;
}

.what-was-done__title {
  margin: 0;
  font-size: 6rem;
}

.what-was-done__content-container {
  display: grid !important;
  height: 100% !important;
  max-width: 100% !important;
  grid-template-columns: minmax(100px, 400px) minmax(100px, 400px) !important;
  justify-content: space-between !important;
  grid-row-gap: 50px !important;
  margin: 0 !important;
}

.what-was-done__item {
  border-radius: 10px !important;
  position: relative !important;
  height: 65% !important;
  max-width: initial !important;
  width: 100% !important;
  background: #49475A !important;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear !important;
  border: 1px solid #13535A !important;
  text-align: center !important;
  line-height: 1.9rem !important;
  font-size: 1.5rem !important;
  padding: 40px 0 !important;
}

.what-was-done__item-title {
  margin: 0 0 15px 0;
}

.footer {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 50px auto 0 auto;
}

.footer .logo {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

.footer .arrow {
  width: 100%;
}

.footer .services {
  max-height: 45px;
}

.footer:nth-of-type(2) {
  margin-top: 70px !important;
}

.footer:nth-of-type(3) {
  position: relative;
  z-index: 1;
  background: #272727;
  padding: 50px 5% 0 5%;
  margin: 0;
}

.reasons-for-inefficiency {
  max-width: 90%;
  margin: auto;
}

.reasons-for-inefficiency__title {
  margin: 0 !important;
  font-size: 6rem !important;
}

.reasons-for-inefficiency .epicrisis {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  margin-top: 50px;
  margin-left: 65px;
  position: relative;
}

.reasons-for-inefficiency .epicrisis .ex-mark {
  font-size: 11rem;
  position: absolute;
  top: -45px;
  left: -65px;
  color: #2FFFFF;
}

.business-objectives {
  max-width: 90%;
  margin: 70px auto 0 auto;
}

.business-objectives__title {
  margin: 0;
  font-size: 6rem;
}

.business-objectives__img {
  left: -65px !important;
  right: auto !important;
  top: 0 !important;
  padding: 0 !important;
  width: 43px !important;
  height: 43px !important;
}

.business-objectives__content-container {
  margin: 50px 0 0 0 !important;
  justify-content: space-between !important;
  width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 386px)) !important;
}

.business-objectives__item {
  background: none !important;
  border: none !important;
  font-size: 1.4rem !important;
  display: flex !important;
  top: 10px;
  left: 65px;
}

.business-objectives__item:hover {
  box-shadow: none !important;
}

.total {
  max-width: 90% !important;
  margin: 85px auto 0 auto !important;
  position: relative;
  overflow: hidden;
  margin: 85px auto 0 auto !important;
  max-width: 100% !important;
  padding: 35px 50px;
  background: #272727;
}

.total__title {
  margin: 0 !important;
  font-size: 6rem !important;
  z-index: 1;
  position: relative;
}

.total__content-container {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(100px, 570px)) !important;
  max-width: 100% !important;
  justify-content: space-between !important;
  z-index: 1;
  position: relative;
}

.total .schedule {
  font-size: 2rem !important;
  padding-left: 30px !important;
}

.total .schedule-img {
  max-width: 100%;
}

/* @import "smart-grid"; */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Gilroy-Medium';
  background: #151420;
}

body {
  overflow-x: hidden;
}

.btn {
  max-width: 175px;
  max-height: 108px;
  background: #5243FF;
  border: none;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 1;
}

.btn:hover {
  -webkit-box-shadow: 0 0 12px #5243FF;
  box-shadow: 0 0 12px #5243FF;
}

.btn_find {
  width: 133px;
  height: 100%;
  left: 967px;
  top: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn_find__img {
  height: 15px;
  margin-right: 9px;
}

.btn_upload-resume {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #EFEFFC;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn_upload-resume:hover {
  -webkit-box-shadow: 0 0 12px #aaa;
  box-shadow: 0 0 12px #aaa;
}

.text_montserrat-extra-light {
  font-family: 'Montserrat-Extra-Light';
}

.text_montserrat-light {
  font-family: 'Montserrat-Extra-Light';
}

.text_montserrat-medium {
  font-family: 'Montserrat-Medium';
}

.text_montserrat-regular {
  font-family: 'Montserrat-Regular';
}

.text_montserrat-bold {
  font-family: 'Montserrat-Bold';
}

.text_montserrat-extra-bold {
  font-family: 'Montserrat-Extra-Bold';
}

.text_gilroy-light {
  font-family: 'Gilroy-Light';
}

.text_gilroy-regular {
  font-family: 'Gilroy-Regular';
}

.text_gilroy-medium {
  font-family: 'Gilroy-Medium';
}

.text_gilroy-bold {
  font-family: 'Gilroy-Bold';
}

.text_gilroy-extra-bold {
  font-family: 'Gilroy-Extra-Bold';
}

.text_gradient {
  background: -webkit-gradient(linear, right top, left top, from(#1C51FF), to(#00FFFF));
  background: -o-linear-gradient(right, #1C51FF, #00FFFF);
  background: linear-gradient(to left, #1C51FF, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg_gradient {
  background: -webkit-gradient(linear, right top, left top, from(#1C51FF), to(#00FFFF));
  background: -o-linear-gradient(right, #1C51FF, #00FFFF);
  background: linear-gradient(to left, #1C51FF, #00FFFF);
}

.grid-container {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 256px));
  grid-row-gap: 50px;
  margin: 85px auto 0 auto;
}

.grid-container__item {
  background: #49475A;
  max-width: 80%;
  border: 1px solid #13535A;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.grid-container__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 6.92082px 30.2786px #aca9c8;
  box-shadow: 0px 6.92082px 30.2786px #aca9c8;
}

.grid-container__item_tall {
  font-family: 'Montserrat-Extra-Light';
  border: 2px solid rgba(0, 0, 0, 0.18);
  min-height: 125px;
}

.grid-container__item_tall:hover {
  -webkit-box-shadow: 0px 6.92082px 30.2786px rgba(0, 0, 16, 0.3);
  box-shadow: 0px 6.92082px 30.2786px rgba(0, 0, 16, 0.3);
}

.grid-container__img {
  -webkit-border-radius: 80%;
  border-radius: 80%;
  height: 10px;
  width: 10px;
  padding: 10px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
}

.grid-container__img:hover {
  -webkit-box-shadow: 0 0 15px #49BFF9;
  box-shadow: 0 0 15px #49BFF9;
}

.grid-container__title {
  font-size: 2rem;
}

.grid-container__desc {
  font-size: 1.5rem;
}

.etc {
  display: block;
  font-family: 'Montserrat-Medium';
  font-size: 2.35rem;
  position: relative;
  margin-top: 70px;
}

.color_purple {
  color: #5243FF;
}

.color_grey {
  color: #777;
}

.color_white {
  color: #fff;
}

.color_light-blue {
  color: #30E3FF;
}

.purple-line {
  max-width: 177px;
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  margin: auto;
}

.select {
  grid-area: search;
  width: 100%;
  height: 44px;
  left: 550px;
  top: 74px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  justify-self: end;
}

.select:focus {
  outline: none;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  background: none;
  border: 2px solid #fff;
  height: 35px;
  width: 37px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
  width: 30px;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  display: block;
  background: #fff;
  width: 85%;
  height: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.burger .line1 {
  top: 5px;
}

.burger .line2 {
  top: 13px;
}

.burger .line3 {
  top: 20px;
}

.burger_close .line1,
.burger_close .line2 {
  top: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger_close .line3 {
  top: 45%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  bottom: 30px;
  right: 0;
  height: 150px;
  max-width: 110px;
  padding: 12px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity .25s linear .25s, height 0s linear 0s;
  -o-transition: opacity .25s linear .25s, height 0s linear 0s;
  transition: opacity .25s linear .25s, height 0s linear 0s;
}

.mobile-menu .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hint {
  font-family: 'Montserrat-Regular';
  position: absolute;
  top: auto;
  bottom: 33px;
  right: -233px;
  background: #fff;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  max-height: 32px;
  width: 58%;
  min-width: 215px;
  padding: 6px 10px;
  font-size: 0.8rem;
  line-height: 1.1rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .5s linear 0s, height 0s linear .5s;
  -o-transition: opacity .5s linear 0s, height 0s linear .5s;
  transition: opacity .5s linear 0s, height 0s linear .5s;
}

.hint_show {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity .5s linear .5s, height 0s linear 0s;
  -o-transition: opacity .5s linear .5s, height 0s linear 0s;
  transition: opacity .5s linear .5s, height 0s linear 0s;
}

.hint__img {
  position: absolute;
  left: 13px;
  bottom: -9px;
  max-width: 20px;
  -webkit-transform: rotateZ(-90deg) scaleY(-1);
  -ms-transform: rotate(-90deg) scaleY(-1);
  transform: rotateZ(-90deg) scaleY(-1);
}

.height_0 {
  height: 0;
}

/* 
.items{
    @include row-flex();/*создаст строку флексами
    @include row-float();/*создаст строку флотами
    @include md(justify-content, center); /*выровняй по центру начиная с 992px

    .item{
        @include col();станьте столбцами
        @include size(3);/*станьте столбцами занимающими 3 колонок везде
        @include size-lg(3);/*станьте столбцами занимающими 3 колонок начиная с 1200px
        @include size-md(4);/*станьте столбцами занимающими 4 колонок начиная со 992px
        @include size-sm(6);/*станьте столбцами занимающими 6 колонок начиная со 720pxpx
        @include size-xs(12);/*станьте столбацим занимающими 12 колонок начиная с 576px
    }
}

*/

@media screen and (max-width: 1300px) {
  .nav .headline .page-title {
    justify-self: end;
    max-width: 627px;
  }

  .nav .offers {
    grid-template-columns: 217px 60px minmax(393px, 500px);
  }

  .what-was-done {
    grid-template-columns: 344px minmax(500px, 650px) !important;
    grid-template-rows: auto !important;
  }

  .what-was-done .grid-container {
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 25px;
  }

  .what-was-done .grid-container__item .what-was-done__item-title,
  .what-was-done .grid-container__item span {
    max-width: 90% !important;
    display: block !important;
    margin: 0 auto 15px auto !important;
  }

  .what-was-done br {
    display: none !important;
  }

  html,
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .nav .headline {
    grid-template-columns: 130px minmax(352px, 437px);
  }

  .nav .headline .logo {
    max-width: 100px;
  }

  .nav .headline .page-title {
    max-width: 464px;
    font-size: 4.5rem;
    text-align: right;
  }

  .what-was-done {
    grid-template-columns: 1fr !important;
    margin-top: 50px !important;
  }

  .what-was-done .grid-container {
    margin-top: 165px !important;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }

  .what-was-done .grid-container__item {
    height: 45% !important;
  }

  .footer .arrow {
    width: 80%;
  }

  br {
    display: block !important;
  }

  .reasons-for-inefficiency {
    margin-top: 40px !important;
  }

  br {
    display: none;
  }

  .title {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .nav .headline .logo {
    max-width: 75px;
  }

  .nav .headline .page-title {
    justify-self: start !important;
  }

  .nav .offers {
    grid-template-areas: 'case' '.' 'offer' !important;
    grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
    top: 5px !important;
  }

  br {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  nav {
    min-height: 200px !important;
  }

  nav .headline {
    grid-template-columns: minmax(30px, 35px) minmax(100px, 282px) !important;
  }

  nav .headline .logo {
    width: auto !important;
    max-width: 50px !important;
  }

  nav .headline .page-title {
    max-width: 282px !important;
  }

  nav .offers {
    grid-row-gap: 10px !important;
  }

  .what-was-done .grid-container__item .what-was-done__item-title,
  .what-was-done .grid-container__item span {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 auto !important;
  }

  html,
  body {
    font-size: 5px;
  }

  .nav .burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    height: 28px;
    width: 30px;
  }

  .nav .burger__line {
    height: 3px;
  }

  .nav .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu .nav__item {
    display: block;
    cursor: pointer;
  }

  .mobile-menu .number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav .mobile-menu {
    bottom: -135px;
  }

  .nav-footer .mobile-menu {
    bottom: 47px;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    min-height: 130px;
  }

  .nav .headline {
    grid-template-columns: 1fr 1fr;
  }

  .nav .headline .logo {
    max-width: 35px;
  }

  .nav .headline .page-title {
    font-size: 4rem;
    max-width: 252px;
  }

  .nav .offers {
    grid-template-columns: 1fr;
    grid-template-rows: 20px 10px 40px;
    grid-template-areas: 'case' '.' 'offer';
    top: 0;
  }

  .nav .headline {
    width: 92% !important;
  }

  .nav .headline .logo {
    max-width: 35px !important;
  }

  .nav .headline .page-title {
    max-width: 150px !important;
    max-width: 255px !important;
  }

  .nav .offers {
    margin-top: 40px !important;
    grid-row-gap: 0px !important;
  }

  .what-was-done {
    grid-template-columns: 1fr !important;
    max-width: 90% !important;
    margin-top: 100px !important;
  }

  .what-was-done__title {
    font-size: 5rem !important;
    position: relative !important;
    top: -50px !important;
  }

  .what-was-done .grid-container {
    position: relative !important;
    top: -100px !important;
    grid-template-columns: minmax(100px, 330px) !important;
    grid-auto-rows: 227px !important;
    max-width: 100% !important;
    width: 100% !important;
    grid-template-columns: 1fr !important;
    grid-auto-rows: auto !important;
  }

  .what-was-done .grid-container__item {
    font-size: 3rem !important;
    line-height: 4rem !important;
    padding: 40px 10px !important;
    height: 75% !important;
    padding: 30px 0px 0 0px !important;
    height: auto !important;
  }

  .what-was-done .grid-container__item .what-was-done__item-title,
  .what-was-done .grid-container__item span {
    font-size: 3rem !important;
    line-height: 4rem !important;
  }

  .footer {
    width: 85%;
    margin: 0 auto;
  }

  .footer .arrow {
    max-width: 70%;
  }

  .footer .services {
    max-width: 40px;
    font-size: 2rem;
  }

  .footer:nth-of-type(3) {
    background: #272727;
    width: 90%;
    padding: 50px 5% 0 5%;
    margin: 0;
  }

  .reasons-for-inefficiency .epicrisis {
    margin-top: 60px;
    margin-left: 30px;
  }

  .reasons-for-inefficiency .epicrisis .ex-mark {
    left: -25px;
  }

  .business-objectives .grid-container {
    margin: 20px auto 0 auto !important;
    grid-row-gap: 26px !important;
  }

  .business-objectives .grid-container__item {
    left: 60px;
  }

  .business-objectives .grid-container__img {
    width: 30px !important;
    height: 30px !important;
    left: -55px !important;
    right: auto !important;
    top: -5px !important;
  }
}

@media screen and (max-width: 350px) {
  .nav {
    min-height: 95px !important;
  }

  .nav .headline {
    grid-template-columns: 0.25fr 0.75fr;
  }

  .nav .headline .page-title {
    justify-self: start !important;
    max-width: 163px !important;
    justify-self: end !important;
    font-size: 3.5rem;
  }

  .what-was-done {
    max-height: 380px;
    margin-top: 110px !important;
  }

  .what-was-done__title {
    top: -100px !important;
  }

  .what-was-done .grid-container {
    grid-auto-rows: 210px !important;
    top: -150px !important;
    grid-row-gap: 0 !important;
  }

  .what-was-done .grid-container__item {
    height: 70% !important;
    max-width: 100% !important;
  }

  .footer {
    justify-content: space-between;
  }

  .footer .arrow {
    max-width: 50%;
  }

  .reasons-for-inefficiency .epicrisis {
    font-size: 3rem !important;
  }

  .reasons-for-inefficiency .epicrisis .ex-mark {
    top: 0 !important;
  }

  .business-objectives__item {
    max-width: 152px !important;
  }

  .total {
    margin: 53px auto 0 auto !important;
    max-height: 390px;
  }

  .total__overlay {
    top: 80px;
    height: 75vh;
  }

  .total__title {
    top: 20px;
  }

  html,
  body {
    font-size: 3px;
  }
}