$logoMaxWidth: 130px;
$titleMinWidth: 652px;
$titleMaxWidth: 875px;

.nav {
    max-width: 90%;
    margin: 3% auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 330px;


    .headline {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: $logoMaxWidth minmax($titleMinWidth, $titleMaxWidth);

        .logo {
            max-width: $logoMaxWidth;
        }

        .page-title {
            justify-self: end;
            font-size: 6rem;
            max-width: $titleMaxWidth;
            width: $titleMaxWidth;
        }
    }

    .offers {
        font-size: 3rem !important;
        color: #FFF;
        opacity: 0.4;
        display: grid;
        justify-items: start;

        position: relative;
        top: -55px;
        margin: 0;


    }

    .offer {
        font-size: 3rem !important;
    }
}

@media screen and (max-width: 1300px) {
    .nav {
        .headline {
            .page-title {
                justify-self: end;
                max-width: 627px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        .headline {
            grid-template-columns: 130px minmax(352px, 437px);

            .logo {
                max-width: 100px;
            }

            .page-title {
                max-width: 464px;
                font-size: 4.5rem;
                text-align: right;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .nav {
        min-height: 175px;

        .headline {

            .logo {
                max-width: 75px;
            }

            .page-title {
                justify-self: start !important;
            }
        }

        .offers {

            top: 5px !important;
        }
    }
}

@media screen and (max-width: 650px) {
   .nav {
        min-height: 200px !important;

        .headline {
            grid-template-columns: minmax(30px, 35px) minmax(100px, 282px) !important;

            .logo {
                width: auto !important;
                max-width: 50px !important;
            }

            .page-title {
                max-width: 282px !important;
            }
        }

        .offers {
            grid-row-gap: 10px !important;
        }
    }
    
    
}

@media screen and (max-width: 550px) {
    .nav {
        min-height: 130px;

        .headline {
            width: 92% !important;
            grid-template-columns: 1fr 1fr;


            .logo {
                max-width: 35px !important;

            }

            .page-title {

                font-size: 4rem;
                max-width: 252px !important;
            }
        }

        .offers {
            margin-top: 40px !important;
            grid-row-gap: 0px !important;

            grid-template-columns: 1fr;
            grid-template-rows: 20px 10px 40px;
            grid-template-areas:
                'case'
                '.'
                'offer';
            top: 0;
        }
    }
}

@media screen and (max-width: 350px) {
    .nav {
        min-height: 95px !important;

        .headline {
            grid-template-columns: 0.25fr 0.75fr;

            .page-title {
                justify-self: start !important;
                max-width: 163px !important;
                justify-self: end !important;
                font-size: 3.5rem;
            }
        }
    }
}
