.total {
    max-width: 90% !important;
    margin: 85px auto 0 auto !important;
    position: relative;

    overflow: hidden;
    margin: 85px auto 0 auto !important;
    max-width: 100% !important;
    padding: 35px 50px;
    background: #272727;


    &__title {
        margin: 0 !important;
        font-size: 6rem !important;
        z-index: 1;
        position: relative;
    }

    .grid-container {
        color: #fff;
        grid-template-columns: repeat(auto-fit, minmax(100px, 570px)) !important;
        max-width: 100% !important;
        justify-content: space-between !important;
        z-index: 1;
        position: relative;
    }

    .schedule {
        font-size: 2rem !important;
        padding-left: 30px !important;
    }

    .schedule-img {
        max-width: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .total {
        .grid-container {
            grid-template-columns: repeat(auto-fit, minmax(100px, 417px)) !important;
        }
    }
}

@media screen and (max-width: 950px) {
    .total {
        .grid-container {
            grid-template-columns: 1fr !important;
        }
    }
}


@media screen and (max-width: 650px) {
    .total {
        .grid-container {
            margin: 25px auto 0 auto;

            .schedule {
                font-size: 2.5rem !important;
                line-height: 3.8rem !important;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .total {
        padding: 35px 25px;

        .grid-container {

            grid-template-columns: 1fr !important;

            .schedule {
                font-size: 2.5rem !important;
                line-height: 3.8rem !important;
            }
        }
    }
}


@media screen and (max-width: 350px) {
    .total {
        margin: 53px auto 0 auto !important;


        max-height: initial;

        padding: 35px 20px;

        .grid-container {
            .schedule {
                padding-left: 15px !important;
                font-size: 3.2rem !important;
                line-height: 4.7rem !important;
            }
        }

        &__title {
            top: 20px;
        }
    }
}
