.what-was-done {
    display: grid !important;
    align-items: center !important;
    justify-content: space-between !important;
    grid-template-columns: 343px 830px !important;
    grid-template-rows: 230px !important;
    max-width: 90% !important;
    margin: 0 auto !important;

    &__title {
        margin: 0;
        font-size: 6rem;
    }

    &__content-container {
        display: grid !important;
        height: 100% !important;
        max-width: 100% !important;
        grid-template-columns: minmax(100px, 400px) minmax(100px, 400px) !important;
        justify-content: space-between !important;
        grid-row-gap: 50px !important;
        margin: 0 !important;
    }

    &__item {

        border-radius: 10px !important;
        position: relative !important;
        height: 65% !important;
        max-width: initial !important;
        width: 100% !important;
        background: #49475A !important;
        transition: box-shadow .2s linear, -webkit-box-shadow .2s linear !important;
        border: 1px solid #13535A !important;
        text-align: center !important;
        line-height: 1.9rem !important;
        font-size: 1.5rem !important;
        padding: 40px 0 !important;

        &-title {
            margin: 0 0 15px 0;
        }
    }
}

@media screen and (max-width: 1300px) {
    .what-was-done {
        grid-template-columns: 344px minmax(500px, 650px) !important;

        grid-template-rows: auto !important;

        .grid-container {
            grid-template-columns: 1fr 1fr !important;
            grid-column-gap: 25px;

            &__item {

                .what-was-done__item-title,
                span {
                    max-width: 90% !important;
                    display: block !important;
                    margin: 0 auto 15px auto !important;
                }
            }
        }

        br {
            display: none !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .what-was-done {
        grid-template-columns: 1fr !important;
        margin-top: 50px !important;

        .grid-container {
            margin-top: 165px !important;
            grid-column-gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;

            &__item {
                height: 45% !important;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .what-was-done {
        .grid-container {


            &__item {

                .what-was-done__item-title,
                span {
                    font-size: 2rem;
                    line-height: 3rem;
                    margin: 0 auto !important;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .what-was-done {
        grid-template-columns: 1fr !important;
        max-width: 90% !important;
        margin-top: 100px !important;



        &__title {
            font-size: 5rem !important;

            position: relative !important;
            top: -50px !important;
        }

        .grid-container {
            position: relative !important;
            top: -100px !important;
            grid-template-columns: minmax(100px, 330px) !important;
            grid-auto-rows: 227px !important;


            max-width: 100% !important;
            width: 100% !important;
            grid-template-columns: 1fr !important;
            grid-auto-rows: auto !important;

            &__item {
                font-size: 3rem !important;
                line-height: 4rem !important;
                padding: 40px 10px !important;
                height: 75% !important;

                padding: 30px 0px 0 0px !important;
                height: auto !important;

                .what-was-done__item-title,
                span {
                    font-size: 3rem !important;
                    line-height: 4rem !important;
                }


            }
        }
    }
}

@media screen and (max-width: 350px) {
    .what-was-done {
        max-height: 380px;
        margin-top: 110px !important;

        &__title {
            top: -100px !important;
        }

        .grid-container {
            grid-auto-rows: 210px !important;
            top: -150px !important;
            grid-row-gap: 0 !important;


            &__item {
                height: 70% !important;
                max-width: 100% !important;
            }
        }


    }
}
