block business-objectives

section.business-objectives
    h2.business-objectives__title.title.text_gradient БИЗНЕС-ЗАДАЧИ
    div.grid-container.business-objectives__content-container
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/01.svg")
            span.color_white Провести исследование и #[br] согласовать приоритетные услуги #[br] клиники для эффективной #[br] настройки рекламных кампаний
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/02.svg")
            span.color_white Перенастроить цели на сайте таким  #[br] образом, чтобы фиксировались  #[br] только реально отправленные заявки
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/03.svg")
            span.color_white Разработать с нуля семантическое #[br] ядро и перенастроить рекламные кампании