block nav

nav.nav
    div.headline
        img.logo(src="assets/img/nav/logo.svg")
        span.page-title.text_gradient СЕТЬ КЛИНИК «СТОЛИЦА»
    div.offers
        span.offers__item.offer Широкопрофильная сеть клиник #[br] оказывает качественные #[br] медицинские услуги населению