block what-was-done

section.what-was-done
    h2.what-was-done__title.text_gradient.text_gilroy-bold ЧТО БЫЛО СДЕЛАНО:
    div.grid-container.what-was-done__content-container
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.color_light-blue Настроили аналитику, разметили #[br] сайт js-событиями
            span.desc после чего начали получать достоверные #[br] данные по стоимости лида, которая составила #[br] 6 500 руб, 
            span.text_gilroy-bold после оптимизации рекламных #[br] кампаний стоимость заявки снизили до 2800 #[br] рублей, 
            span.desc что опять сильно не сходилось #[br] с запланированной unit-экономикой.

        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.color_light-blue Было принято решение о создании #[br] мультилендинга по услугам КТ и МРТ
            span.desc с подменой контента в зависимости от запроса #[br] пользователя, после разработки лендинга и #[br] гиперсегментации, 
            span.text_gilroy-bold по результатам проделанной #[br] работы стоимость заявки была снижена до 1200 руб. В первый день работы лендинга все #[br] проделанные работы окупили себя